.footer {
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    border-top: 1px solid #9a9a9a;
    font-weight: 500;
    margin-bottom: 1.5rem;
}